.card {
    border: 5px solid black;
}
img {
    width: 60px;
    height: 60px;
    float: right;
}
/* .top {
    width: 40%;
} */
h1 {
    width:60%;
    float: left;
    margin: 40px 20px;
    font-size: 3rem;
}
body {
    font-family: 'Dancing Script', cursive;
}